* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #e8e8e8;
}

.grid {
    background-color: #e8e8e8;
    display: grid;
    grid-template-columns: 1fr 800px 400px 1fr;
    grid-template-areas:
    "header header header header"
    ". h2 h2 ."
    ". main main ."
    ". footer footer ."
;
}

p, figcaption {
    font-family: Verdana sans-serif;
    font-size: 18px;
    color: #58595b;
}

/*************************************************************************************************/

/****************************************Header*************************************************/


header {
    grid-area: header;
    background-color: black;
    display:grid;
    grid-template-columns: 1fr 1fr;
    min-height: 100px;
}

header h1{
    color: #ffffff;
    justify-self: center;
    align-self: center;
    font-size: 28px;
}

/*************************************************************************************************/
.htoeren {
    grid-area: h2;
    align-self: center;
    justify-self: center;
    font-size: 60px;
    border-bottom: 5px solid black;
    margin-bottom: 30px;
    text-align: center;
}

/*'''''''''''''''''''''''''''''''''''******* Nav *************************************************/
nav {
    align-self: center;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-flex;
    line-height: 50px;
}

nav ul li:after {
     content: " | ";
     display: inline-block;
     padding: 0 15px;
     color: dimgray;

 }

nav ul li:last-child:after {
    content: " ";
}

header nav ul li a {
    color: #a1a1a1;
    font-size: 18px;
    font-family: Verdana sans-serif;
    font-weight: bold;
    justify-self: start;
    text-decoration: none;
    display: block;
}

header nav ul li a:hover {
    color: white;
}





/*************************************************************************************************/

/****************************************Main**************************************************/
main {
    display:grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
    "services sidebar"
;
    grid-area: main;
}

#services {
    grid-area: services;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

#services figure {
    padding: 30px;
}

#asside {
    grid-area: sidebar;
}

#asside #omOs,#risRos,#nyhedsbrev {
    padding: 20px;
}



/*************************************************************************************************/

/****************************************Footer**************************************************/


footer {
    grid-area: footer;

}