* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #e8e8e8;
}

.grid {
    background-color: #e8e8e8;
    display: grid;
    grid-template-columns: 1fr 700px 300px 1fr;
    grid-template-areas:
    "header header header header"
    ". h2 h2 ."
    ". main main ."
    ". footer footer ."
    ;
}

p, figcaption {
    font-family: Verdana sans-serif;
    font-size: 14px;
    color: #58595b;
}

h2, h3 {
    font-family: Verdana sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #58595b;
    text-transform: uppercase;
}


/*************************************************************************************************/

/****************************************Header*************************************************/


header {
    grid-area: header;
    background-color: black;
    display:grid;
    grid-template-columns: 1fr 1fr;
    min-height: 100px;
}

header h1{
    color: #ffffff;
    justify-self: center;
    align-self: center;
    font-size: 28px;
    margin-left: 50px;

}

/*************************************************************************************************/
.htoeren {
    grid-area: h2;
    align-self: center;
    justify-self: center;
    font-size: 45px;
    border-bottom: 5px solid black;
    margin-bottom: 30px;
    text-align: center;
    padding: 20px 0 20px 0;
}

/*'''''''''''''''''''''''''''''''''''******* Nav *************************************************/
nav {
    align-self: center;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-flex;
    line-height: 50px;
}

nav ul li:after {
     content: " | ";
     display: inline-block;
     padding: 0 15px;
     color: dimgray;

 }

nav ul li:last-child:after {
    content: " ";
}

header nav ul li a {
    color: #a1a1a1;
    font-size: 18px;
    font-family: Verdana sans-serif;
    font-weight: bold;
    justify-self: start;
    text-decoration: none;
    display: block;
}

header nav ul li a:hover {
    color: white;
}





/*************************************************************************************************/

/****************************************Main forside**************************************************/
main {
    display:grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
    "services sidebar"
    "blog sidebar"
    ;
    grid-area: main;
}

#services {
    grid-area: services;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 500px;

    grid-gap: 25px;
    padding: 30px 0 0 30px;
}

#services h2 {
    grid-column: span 2;
}

#asside {
    grid-area: sidebar;
    padding: 30px 0;
    max-width: 90%;
}

#asside #omOs,#risRos {
    border-bottom: 2px solid black;
    padding-bottom: 20px;
    margin-bottom: 60px;

}
#asside h2 {
    margin-bottom: 25px;
}
#omOs img {
    margin-top: 20px;
}
#services a {
    color: #58595b;
    text-decoration: none;
}

#services a:hover {
    color: cornflowerblue;
}

#risRos a {
    color: #58595b;
    text-decoration: none;
}

#risRos p {
    padding-bottom: 20px;
}

#risRos a:hover {
    color: cornflowerblue;

}

#risRos sup {
    text-align: right;
}

#blog h3 {
    margin-bottom: 10px;
}

#blog {
    grid-area: blog;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    padding-left: 30px;
}
#blog img {
    float: left;
    padding-right: 10px;
}

#blog article {
    grid-column: span 2;
}

#blog, #nyhedsbrev {
    padding-bottom: 25px;
}

/*************************''''''''''''' services ******************************************/

.grid2 {
    display: grid;
    width: auto;
    grid-gap: 10px;
    grid-template-columns: 1fr 500px 500px 1fr;

    grid-template-areas:
            "header header header header"
            ". h1eren h1eren ."
            ". h5 h5 ."
            ". tekst tekst ."
            ". main main ."
            ". footer footer .";
}

.services2 {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-height: 700px;
    grid-gap: 50px;
    padding-right: 25px;

}

.services2 article {
    border-bottom: 1px solid #000;
    padding: 0 20px 20px 20px;
}

.services2 h3 {
    margin-bottom: 15px;
}

.grid2 h5{
    grid-area: h5;
    display: inline-block;
    color: #58595b ;
    font-weight: bold;
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.tekst {
    grid-area: tekst;
    display: inline-block;
    margin-bottom: 100px;
}

.h1eren {
    grid-area: h1eren;
    justify-self: center;
    align-self: center;
    font-size: 30px;
    background-color:#e8e8e8 ;
    border-bottom: 1px solid #000;
    text-align: center;
    padding-top: 40px;
    margin-bottom: 30px;
}

/*************************************************************************************************/

/****************************************Footer**************************************************/

footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-self: center;
    justify-self: center;
    padding: 40px;
    border-top: 2px solid black;
    width: 100%;
}

footer #social i {
    font-size: 22px;
    color: #58595b;
    padding-left: 15px;
}

footer p {
    font-size: 18px;
    color: #58595b;
    grid-column: end;
}